/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*Header*/
header{
    width: 100vw;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
    background: var(--bg-color);
}

header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo{
    color: #fff;
    font-size: 3.0rem;
    font-weight: 600;
}

.logo span{
    color: var(--secondary-color);
}

.mobile-logo{
    display: none;
}

header ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header ul li{
    margin-left: 30px;
}

header ul li span{
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-family: monospace;
}

header ul li a{
    font-size: 1.8rem;
    color: #fff;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    border-radius: 3px;
}

header ul li a:hover{
    border-bottom: 2px solid var(--secondary-color);
}

#menu-button{
    display: none;
}
/*Header*/



/*Home*/
#home .container{
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
}

#home small{
    font-family: monospace;
    color: var(--secondary-color);
    font-size: 1.8rem;
}

#home h1{
    font-size: 7.0rem;
}

.first-title{
    font-size: #ccd6f6;
    font-weight: 600;
}

.second-title{
    color: #8892b0;
    font-weight: 600;
}

.home-description{
    font-size: 1.9rem;
    color: #8892b0;
    margin-top: 30px;
    line-height: 3.2rem;
    max-width: 65.0rem;
}

.links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.github{
    font-size: 6.0rem;
    margin-top: 65px;
    margin-left: 30px;
    cursor: pointer;
    color: var(--secondary-color);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.github:hover{
    color: #fff;
}

.contact-me{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 220px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    outline: none;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.contact-me:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
/*Home*/



/*About*/
#about .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#about .section-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-right{
    color: #8892b0;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0.8px;
    text-align: left;
    margin-top: 30px;
    max-width: 600px;
}


.about-subtitle{
    color: #fff;
    font-size: 3.0rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.about-subtitle span{
    color: var(--secondary-color);
    margin-left: 5px;
}

.about-image{
    width: 450px;
}
/*About*/



/*Projects*/
.projects-filter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.projects-filter p{
    color: var(--secondary-color);
    background: transparent;
    border-radius: 2px;
    padding: 10px 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.projects-filter p:nth-child(2){
    margin-left: 20px;
}

.projects-filter p:nth-child(3){
    margin-left: 20px;
}

.projects-filter p:hover{
    background: var(--secondary-color);
    color: #fff;
}

.projects-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
    gap: 32px 0px;
}

.project{
    width: 380px;
    border-radius: 4px;
}

.project-image{
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
}

.card-bottom{
    background: #293542;
    color: #fff;
    margin-top: -3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 10px;
}

.project-name{
    font-weight: 500;
    font-size: 2.2rem;
}

.project-demo{
    color: var(--secondary-color);
    font-size: 1.6rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px 15px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.project-demo:hover{
    color: #fff;
    background: var(--secondary-color);
}
/*Projects*/


/*Skills*/
#skills .section-title{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

#skills .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
}

.skill-name{
    font-size: 5.0rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.skill-cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px 20px 180px 20px 180px;
    grid-template-columns: repeat(3, 180px);
    -ms-grid-rows: 150px 20px 150px;
    grid-template-rows: 150px 150px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 20px;
}

.skill-cards > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.skill-cards > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.skill-cards > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.skill-cards > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.skill-cards > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.skill-cards > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.skill-card{
    background: #293542;
    color: #fff;
    font-size: 4.0rem;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    overflow: hidden;
}

.skill-card img{
    width: 80px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.skill-card:hover{
    background: var(--secondary-color);
}
/*Skills*/



/*Contact*/
#contact .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
}

.happy-tag{
    color: var(--secondary-color);
    font-size: 16.0rem;
}

.contact-subtitle{
    color: #fff;
    font-size: 3.0rem;
}

.contact-links{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.contact-link{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: #293542;
    font-size: 6.0rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    padding: 30px 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.contact-link:hover{
    background: var(--secondary-color);
}

.discord{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
}
/*Contact*/



/*Footer*/
footer{
    width: 100vw;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    font-size: 2.0rem;
    background: #293542;
    padding: 35px 0px;
}
/*Footer*/


@media(max-width: 1200px){
    .container{
        max-width: 99vw;
        padding: 0px 18px;
    }

    .section-title{
        max-width: 99vw;
        padding: 0px 18px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    header{
        position: fixed;
    }

    header ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        background: #293542;
        width: 100vw;
        min-height: 100vh;
        position: fixed;
        top: 0px;
        right: -200vw;
    }

    header ul li{
        padding: 30px 0px;
        margin: 30px 0px;
    }

    header ul li a{
        font-size: 2.5rem;
        margin-right: 20px
    }

    .active-menu{
        right: 0px;
    }

    #menu-button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: var(--secondary-color);
        color: #fff;
        font-size: 2.6rem;
        padding: 8px 15px;
        border-radius: 2px;
        position: absolute;
        margin: 10px 15px;
        right: 20px;
    }


    #home .container h1{
        font-size: 60px;
    }

    #about .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 60px;
    }

    #about .about-subtitle{
        overflow: hidden;
        margin-top: 30px;
    }

    #projects .section-title,
    #about .section-title,
    #skills .section-title,
    #contact .section-title{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #projects .projects-area{
        gap: 50px 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #skills .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .skill-cards{

        margin-top: 60px;
    }

    .section-title{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .bar{
        display: none;
    }

    #contact .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact-subtitle{
        text-align: center;
    }

    .happy-tag{
        margin-top: 60px;
        font-size: 12.0rem;
    }
}

@media(max-width:768px){
    .normal-logo{
        display: none;
    }

    .mobile-logo{
        display: initial;
    }

    #home .container{
        padding-top: 40px;
    }
}

@media(max-width: 600px){
    #home .container{
        text-align: center;
    }

    #home .container .first-title{
        font-size: 60px;
    }

    #home .container .second-title{
        font-size: 45px;
    }

    #home .container .links{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .fa-github{
        margin-right: 28px;
    }

    #skills .skill-cards{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (180px)[2];
        grid-template-columns: repeat(2, 180px);
        margin-top: 50px;
    }

    .projects-filter{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .projects-filter p{
        text-align: center;
    }

    .projects-filter p:nth-child(1){
        padding: 10px 20px;
    }

    .projects-filter p:nth-child(3){
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        margin-top: 30px;
        margin-right: 22px;
    }
}
